<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="eve-online-tools" type="libEveOnlineTools.EveOnlineToolsConfiguration, libEveOnlineTools" />
  </configSections>

  <eve-online-tools>
    <database>
      <MySQL>
        <server>bangkok</server>
        <user>eveStatic</user>
        <password>eveStatic</password>
        <schema>evestatic_esc10</schema>
      </MySQL>
    </database>
  </eve-online-tools>

</configuration>