<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="eve-online-tools">
      <section name="database" type="libNHibernate.Configuration.DatabaseConfiguration, libNHibernate" />
      <section name="pictures" type="libEveStatic.pictures.EveStaticPicturesConfiguration, libEveStatic" />
      
    </sectionGroup>
  </configSections>

  <eve-online-tools>
    <database>
      <MySQL>
        <server>bangkok</server>
        <user>eveStatic</user>
        <password>eveStatic</password>
        <schema>evestatic_esc10</schema>
      </MySQL>
    </database>
    <pictures>
      <icons>D:\tmp\Icons</icons>
      <renders>D:\tmp\Renders</renders>
      <types>D:\tmp\Types</types>
    </pictures>
  </eve-online-tools>

</configuration>