<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="eve-static-database" type="libNHibernate.Configuration.DatabaseConfiguration, libNHibernate" />
  </configSections>

  <eve-static-database>
    <MySQL>
      <server>bangkok</server>
      <user>eveStatic</user>
      <password>eveStatic</password>
      <schema>evestaticB</schema>
    </MySQL>
  </eve-static-database>

</configuration>